<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style2.css">
  <title>User information</title>
</head>
<body>
  <a href="/">Home</a>
  <div class="page">
    <header>
      <h2>USER INFORMATION</h2>
    </header>
    
    <form id="my-form" role="form" action="/process" method="post">

            <label for="user-name">Name:</label>
            <input type="text" id="user-name" placeholder="John" name="username" required>

            <label for="user-surname">Last Name:</label>
            <input type="text" id="user-surname" placeholder="Smith" name="usersurname" required>

            <label for="user-email">Email:</label>
            <input type="email" id="user-email" placeholder="john@email.com" name="useremail">

            <label for="user-number">Phone Number:</label>
            <input type="number" inputmode="numeric" id="user-number" placeholder="555000555" name="userphone" maxlength="9">

          <h2>SHIPPING ADDRESS</h2>
          
            <label for="user-country">Country:</label>
            <input type="text" id="user-country" placeholder="US" name="usercountry" maxlength="2">

            <label for="user-state">State:</label>
            <input type="text" id="user-state" placeholder="AZ" name="userstate" maxlength="2">

            <label for="user-address2">City:</label>
            <input type="text" id="user-city" placeholder="Phoenix" name="usercity">  
            
            <label for="user-zip">Zip Code:</label>
            <input type="number" id="user-zip" placeholder="21546" name="userzip" max="99999">

            <label for="user-address1">Address (Line one):</label>
            <input type="text" id="user-address1" placeholder="Street one" name="useraddress1">

            <label for="user-address2">Address (Line two):</label>
            <input type="text" id="user-address2" placeholder="Street two" name="useraddress2">
    </form>
    
  <footer>
      <input class="button" type="submit" form="my-form" value="SAVE"></input>
  </footer>

</div>